*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans',sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/** vari breakpoint 480px, 576px, 768px, 992px, 1200px **/