*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans',sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.center{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}



/* TODO classe debug */
.debug{ 
    border: 2px dashed black;
}
.fiat{
    height: 500px;
}

/* impostazioni di header */
header{
    height: 60px;
    background-color: rgb(0,132,253);
    position: sticky;
    top: 0;
    z-index: 1;
}
header div{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.menu{
    display: none;
    color: white;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    gap: 20px
}
.nav-bar a:last-child{
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 5px 8px;
}


/* impostazioni di main */
main section{
    margin-top: 30px;
}
.jumbotron{                     /** sezione 1 */
    width: 100%;
    height: auto;
    justify-content: center;
}
.jumbotron > div{
    flex-basis:calc(100% / 3);
    background-color: rgb(181,221,255);
    padding: 15px;
    border-radius: 25px;
    border: 10px solid white;
}
.jumbotron > div:first-child{
    flex-basis: calc(100% / 1.5);
}
.phone div{
    flex-basis: 50%;
    justify-content: center;
}
.phone div img{
    width: 60%;
    height: auto;
    padding-top: 20px;
    translate: 0 15px;
}
.jumbotron h3{
    color:  rgb(0,132,253);
    padding-top: 5px;
    font-size: 23px;
}
.jumbotron p{
    color:  rgb(90,109,126);
    line-height: 30px;
    font-weight: 700;
    font-size: 18px;
    margin: 30px 0;
}
.jumbotron a{
    background-color: rgb(0,132,253);
    border-radius: 25px;
    padding: 8px 32px;
    font-weight: 400;
    letter-spacing: 2px;
}
.big-icon{
    font-size: 60px;
    color: rgb(0,132,253);
    padding: 10px;
}


.violet{                        /** sezione 2 */
    background-color: rgb(151,146,227);
}
.planning{
    width: 100%;
}
.planning div{
    flex-basis: 50%;
}
.testimonials div{              /** sezione 3 */
    background-color: rgb(151,146,227);
    flex-basis: 100%;
}
.benefits div{                  /** sezione 4 */
    flex-basis: calc(100% / 3);
}
.about-us div:first-child{      /** sezione 5 */
    flex-basis: 70%;
}
.about-us div:last-child{
    flex-basis: 30%;
}
                                /** sezione 6 */

/* impostazioni di footer */
.grey{
    background-color: rgb(51,51,51);
}



/** breakpoint di riferimento 480px, 576px, 768px, 992px, 1200px **/

/* screen 992px */
@media screen and (max-width: 992px){
    .container{
        max-width: 810px;
    }
    .nav-bar{
        display: none;
    }
    .menu{
        display: block;
    }
    .planning div{
        flex-basis: 100%;
    }
    .benefits div{                  
        flex-basis: calc(100% / 2);
    }
    .about-us div:first-child{
        flex-basis: 60%;
    }
    .about-us div:last-child{
        flex-basis: 40%;
    }
    .phone div{
        flex-basis: 100%;
        justify-content: center;
    }
}

/* screen 480px */
@media screen and (max-width: 480px){
    .container{
        max-width: 375px;
    }
    .jumbotron{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .benefits div{                  
        flex-basis: 100%;
    }
    .about-us{
        flex-direction: column;
    }
    .about-us div:first-child{
        flex-basis: 70%;
    }
    .about-us div:last-child{
        flex-basis: 30%;
    }
    .phone div{
        flex-basis: 100%;
        justify-content: center;
    }
}